# Entorno virtual
.venv/
venv/
env/

# Caché de pytest
.pytest_cache/

# Archivos de cobertura
.coverage
.coverage.*
htmlcov/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.so

# Archivo de configuración local de pruebas
test/conftest.py

# Archivos de output generados
outputs/

# Editor
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos adicionales
Paper base_Compiler Error Messages Considered Unhelpful.pdf
proyecto relacionado.pdf